/* ---------- Layout ---------- */
.page {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 16px;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 400px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.prevArrow {
    height: 14px;
    width: auto;
    position: absolute;
    left: 8px;
}

/* ---------- Event Info ---------- */
.eventDetails {

  display: flex;
  flex-direction: column;
  gap: 28px;
}

.containerCardIntro {
position: relative;

}

.cardIntro {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
     border-radius: 32px;
   /* background: #EAF1F3; */
    height: 216px;
    
}

.contImg {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
height: 100%;
padding: 0px 20px 0px 0px ;
}


.imgCinema {
   
  height: auto;
  width: 80px; 
  margin-bottom: 40px;
}

.imgMicro {
   
    height: auto;
    width: 70px; 
    margin-right: 16px;
    transform: scaleX(-1);
  }

  .imgDance {
    height: auto;
    width: 100px; 
    margin-bottom: 32px;
 
  }
  .imgWorkshop {
    height: auto;
    width: 60px; 
 
  }

  .imgExpo {
    height: auto;
    width: 120px; 
    margin-right: 16px;
    transform: scaleX(-1);
  }

  .imgTheatre {
    height: auto;
    width: 92px; 
    margin-bottom: 40px;
  }

.intro {
    display: flex;
    flex-direction: column;
    height: 155px;
    padding: 20px 0px 20px 20px ;
    justify-content: space-between;
    align-items: flex-start;

}

.intro div {
    display: flex;
    flex-direction: column;
   gap: 8px;
}


.tag {
    color: black;
    border-radius: 200px;
    border: 1px solid #000;
    padding: 1px 8px;
    width: fit-content;
}

.interested {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    width: 140px;
height: 64px;
      position: absolute;
    bottom: 8px;
    left: 8px;
}

.nmbInterested {
    color: black;

    border-radius: 50px;
    background-color: var(--light-gray);
    width: 28px;
    height: 28px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoContainer{
     display: flex;
    flex-direction: row;
   
    align-items: center;
    justify-content: space-between;
}

.locationContainer{
     display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
}

.locationContainer img{
 height: 24px;
 width: auto;
}


.locationContainer div{
     display: flex;
    flex-direction: column;
    gap: 8px;
    align-items:flex-start;
    justify-content: center;
    gap: 0px;
}

.at {
    color: #000;
    font-size: 16px;
    font-weight: 400;

}



.hour {
    color: #000;
    text-align: right;
    font-size: 24px;
    font-weight: 400;
}

.location {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contAddress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.maps {
    border-radius: 32px;
    border: none;
}

.btns {
    display: flex;
flex-direction: column;
gap: 8px;
margin-bottom: 32px;
}

.btnShare {
    display: flex;
height: 44px;
padding: 6px 20px;
justify-content: center;
align-items: center;
border-radius: 20px;
background: #000;
color: white;
font-size: 16px;
}

.btnDelete {
    display: flex;
height: 44px;
padding: 6px 20px;
justify-content: center;
align-items: center;
border-radius: 20px;
background: white;
color: black;
font-size: 16px;
}

/* ---------- ModalShare ---------- */

.modalContainer {
     width: 100vw;  
        max-width: 440px; 
      height: 100%;
      position: fixed; 
      top: 50%;
    left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
     background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    display: flex;
    flex-direction: column;
 margin-bottom: 160px;
    gap: 20px;
    width: 96%;
    padding: 20px;

   border-radius: 32px;
    background-color: rgb(255, 255, 255); 
   max-height: 640px;  
}

.headerModal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
}

.headerModal img{
    height: 12px;
    width: auto;
}

.headerText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.friendsList{
    display: flex;
    flex-direction: column;
    gap: 8px;
        height: 100%; 
    overflow-y: scroll;
}


/* ---------- Friend cards ---------- */


.card {
    display: flex;
width: 100%;
height: auto;
padding: 16px;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 8px;
border-radius: 20px;
background-color: #EAF1F3;
}


.initials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50px;
}

.initials p {
 font-size: 16px;
 font-weight: 600;
 color: black;
}

.to {
  font-weight: 600;
 color: black;
}

.selected {
   background-color: #aed7e2;
}